.pagination {
	display: flex;
	list-style-type: none;
    justify-content: flex-end;
    align-items: center;
	.choice-total-items {
		font-family: "Roboto";
		input {
			margin: 0 .5rem;
			width: 50px;
			height: 30px;
			border: 1px solid #8f9294;
			border-radius: 5px;
			padding-left: 5px;
			font-size: 1rem;
			&::-webkit-inner-spin-button, 
			&::-webkit-outer-spin-button {
				opacity: 1;
			}
		}
	}

	li {
		.pagination__link {
			min-width: 40px;
			border-radius: .375rem;
            text-decoration: none;
			border-width: 1px;
			cursor: pointer;
			display: inline-flex;
			font-weight: 500;
			padding: .5rem .75rem;
			--tw-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
			border-color: transparent;
			display: flex;
			align-items: center;
			justify-content: center;
			font-weight: 400;
			margin-right: .5rem;
            color: #8f9294;
		}
		.pagination__link.pagination__link--active {
			box-shadow: 0 3px 20px rgba(0, 0, 0, .043137254901960784);
			background-color: #ef0f3f;
			border-color: transparent;
			border-radius: .375rem;
			position: relative;
			font-weight: 500;
            color: #fff;
		}
	}
}
.dark {
	.pagination {
		li {
			.pagination__link {
                color: #fff;
			}
			.pagination__link.pagination__link--active {
				--tw-bg-opacity: 1;
				background-color: rgba(49, 58, 85, var(--tw-bg-opacity));
			}
		}
	}
}
@media (max-width:639px) {
	.pagination {
		margin-right: 0;
		width: 100%;
		li {
			flex: 1 1 0%;
			&:first-child {
				.pagination__link {
					padding-left: .25rem;
					padding-right: .25rem;
				}
			}
			&:nth-child(2) {
				.pagination__link {
					padding-left: .25rem;
					padding-right: .25rem;
				}
			}
			&:nth-child(3) {
				.pagination__link {
					padding-left: .25rem;
					padding-right: .25rem;
				}
			}
			&:nth-child(7) {
				.pagination__link {
					padding-left: .25rem;
					padding-right: .25rem;
				}
			}
			&:nth-child(8) {
				.pagination__link {
					padding-left: .25rem;
					padding-right: .25rem;
				}
			}
			&:nth-child(9) {
				.pagination__link {
					padding-left: .25rem;
					padding-right: .25rem;
				}
			}
			.pagination__link {
				margin-right: 0;
				min-width: 0;
			}
		}
	}
}
